<%- include ("templates/header") %>
<script type="module" src="/js/planet.js"></script>

<header>
    <h1>Ignosa</h1>
</header>

<main>
    <div id="container3D"></div>
</main>
<%- include ("templates/footer") %>