<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmoxphere</title>
    <link rel="stylesheet" href="css/terminal.css">
    <script src="/js/terminal.js"></script>
</head>

<body>
    <div class="scanlines"></div>
    <div class="terminal">
        <div class="scanlines2"></div>
        <p class="loadingText">ATMOXHERE DATABASE ACCESS TERMINAL [19.8.7]</p>
        <p class="loadingText">[boot_sequence]</p>
        <p class="loadingText">>> Loading modules ...</p>
        <p class="loadingText">>> Parsing local data ...</p>
        <p class="loadingText">>> Updating local host ...</p>
        <p class="loadingText">>> Running driver ...</p>
        <!-- <span class="cursor"></span> -->
    </div>
</body>
</html>